
/* Text and Website Color */
h1{font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    font-size: 65px;
    }
h2{font-family: 'Tenor Sans', sans-serif;}
p{font-family: 'Montserrat', sans-serif;}
ul{font-family: 'Montserrat', sans-serif;}
li{font-family: 'Montserrat', sans-serif;}
body{background-color:whitesmoke}

/*  */
.parallax {min-height: 500px;
    background-image: url(website-design/navbardec.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: fixed top;}

/* Navigation Bar */
.nav{position:sticky top;
top:0;
background-color:#BBC8CA ;
width: 100%;}
nav li.nav{display: inline;
         margin-left:auto;
         margin-right: auto;
         width: 100%;
        position: sticky;
        background-color:#BBC8CA ;}
 nav ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     background-color: #BBC8CA;
    opacity: 100%;
    overflow: none;
    position:sticky}
nav li {float: left;
    background-color:#BBC8CA ;
    width:25% ;
    }
nav li a {color: white;}
li a {
display: block;
color: black;
text-align: left;
padding: 14px 16px;
text-decoration: none;}
.about {text-align: center;
 margin-left: auto;
 margin-right: auto;
 padding-top: 120px;
 padding-bottom: 10px;}
h1.nav {text-align: center;}
a {text-decoration: none;}
footer
{ position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:none;
   color: white;
   text-align: left;
   padding-left: 10px;}
   p a {color: black;}
   p a:hover {color: cadetblue;}
   nav a:hover {color: cadetblue;}

/* Navigation Bar - Dropdown */
.dropbtn {
    background-color: #BBC8CA;;
color: white;
padding: 16px;
font-size: 16px;
border: none;
font-family: 'Montserrat', sans-serif;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #BBC8CA;;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 999;
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: 'Montserrat', sans-serif;

}
button:hover {color: cadetblue;}

.dropdown-content a:hover {color: cadetblue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn { background-color: #BBC8CA;}

table a {color: black;}
    table a:hover {color: cadetblue;}